
img{max-width:100%;}
/*end reset*/

.wrap{
	/*width:80%;*/
	margin:0 auto;
}
.contact-info{
	float:right;
	margin-top: 9px;
	margin-bottom: 4px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color:#F6D10C;
	margin-right: 10px;

}	
.socialmedia-widget {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.logo{
	float: left;
	padding: 15px 0px 0px 0px;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display:inline-block;
	float:left;
}
.top-nav li.active> a, .top-nav li> a:hover {
	background: #F6D10C;
	color:#FFF;
	text-decoration: blink;
}
.top-nav ul li a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.875em;
	color: #FFF;
	padding: 30px;
	display: block;
	text-transform: uppercase;
}
.header{
	background:#313232;
	border-bottom: 5px solid #F6D10C;
}
.copy-right .wrap a{
	color: #232322;
}
.contact-info a{
	color: #E2BF07;
}
.login {

width: 29%;
padding: 1.5%;
text-align: left;
/*border: 2px solid #CFCFCF;*/
border-radius:  15px;
margin-left: 35%; 

}

.images_1_of_3 .form{
padding-left: 40px;
}
.botonPrincipal{
background: #E2BF07;
padding: 10px 15px;
font-family: 'ambleregular';
color: #FFF;
display: inline-block;
font-size: 0.8em;
transition: 0.5s ease;
-o-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-webkit-transition: 0.5s ease;
text-transform: uppercase;
border: 0px;

}
.botonPrincipal:hover{
	    background:#222;
	    color:#FFF;
}

h3{
	font-family: 'ambleregular';
font-size: 1.5em;
padding: 0.5em 0;
color: #E2BF07;
text-transform: uppercase;
}
.topHeader{
	width: 100%;
	background: rgb(31, 31, 31);
}

.grid_icon_service {
border-radius: 4em;
-webkit-border-radius: 4em;
-moz-border-radius: 4em;
-o-border-radius: 4em;
border: 5px solid #FFF;
box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.25);
-webkit-box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.25);
-moz-box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.25);
-o-box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.25);
display: inline-block;
padding: 15px;
background: #E2BF07;
cursor: pointer;
transition: 0.5s ease;
-moz-transition: 0.5s ease;
-o-transition: 0.5s ease;
-webkit-transition: 0.5s ease;
float: left;
width: 120px;
margin: 10px;
}
.grid_icon_service:hover{
   background:#232322;
}

.listview_1_of_2 .text{
float: none;
width: 100%;

}
.justify{
	text-align: justify;
}
.numeracion{
width: 40px;
height: 40px;
border-radius: 20px;
font-size: 20px;
font-weight: bold;
color: #fff;
line-height: 40px;
text-align: center;
background: #F6D10C;

}
.pasos{
	margin-left: 30px;
}
.imagen-paso{
	height: 100%;
	text-align: center;
}
.imagen-paso img{
	width: 80%;
	
}

.navbar-default {
/* background-color: #f8f8f8; */
border-color: #313232; 
background: #313232;
border-bottom: 5px solid #F6D10C;

}

.navbar-default .navbar-nav>li>a:hover {
background: #F6D10C;
color: #FFF;
text-decoration: blink;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background: #F6D10C;
color: #FFF;
text-decoration: blink;
}

@media (min-width: 869px){

.navbar-default .navbar-nav>li>a {
font-family: 'Source Sans Pro', sans-serif;
font-size: 0.875em;
color: #FFF;
padding: 30px;
display: block;
text-transform: uppercase;
}

.navbar-nav {
float: right;
margin: 0;
}
}
@media (max-width: 869px){
.navbar-brand img{
	height: 100%;
}
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #F6D10C;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px; 
}