
@media (min-width: 979px){
    .pago{
    margin-top: 55px;
    margin-bottom: 55px;
    }
}

.form-signin {
	
    max-width: 500px;
    /*padding: 19px 29px 29px;*/
    padding: 3px 29px 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
    text-align: center;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 5px;
    padding: 5px 9px;
}
.control-group .sub{
    border-bottom: 1px solid #DDD;
}
.form-horizontal .control-group{
    margin-bottom: 8px;
} 
.well{
    margin-bottom: 8px;       
}
.timer{
    border: #DDD solid 1px;
    padding: 5px 10px 5px 10px;
    background-color: #FFF
        
}
.form-horizontal .controls {
margin-left: 180px;
}
.form-horizontal .control-label {
float: left;
width: 170px;
padding-top: 5px;
text-align: right;
display: table-cell;
}
.form-horizontal .control-label label {
display: initial;
}
.form-horizontal .controls select {
font-size: 16px;
height: auto;
margin-bottom: 5px;
padding: 5px 9px;
}
.navbar-brand {
float: none; 

}